# Kconfig for Micro XRCE-DDS 

menu "Micro XRCE-DDS"

config MICRO_XRCE_CLIENT
    bool "Enable Micro XRCE-DDS Client"
    default n
    ---help---
        Enable support for Micro XRCE-DDS Client

if MICRO_XRCE_CLIENT

comment "Micro XRCE-DDS Options"

config MR_PROFILE_CREATE_ENTITIES_REF
        bool "Create Entities by Reference profile"
        default y
        ---help---
            Enable the Create Entities by Reference profile.

config MR_PROFILE_CREATE_ENTITIES_XML
        bool "Create Entities by XML profile"
        default y
        ---help---
            Enable the Create Entities by XML profile.

config MR_PROFILE_READ_ACCESS
        bool "Read Access profile"
        default y
        ---help---
            Enable Read Acces profile.

config MR_PROFILE_SERIAL_TRANSPORT 
        bool "Serial Transport profile"
        default y
        ---help---
            Enable the Serial Transport profile.

if MR_PROFILE_SERIAL_TRANSPORT

config MR_SERIAL_TRANSPORT_MTU
        int "Serial Transport MTU"
        default 512
        ---help---
            Serial Transport MTU.

endif # MR_PROFILE_SERIAL_TRANSPORT

config MR_PROFILE_UDP_TRANSPORT 
        bool "UDP Transport profile"
        default n 
        depends on NET_UDP
        ---help---
            Enable the UDP Transport profile.

if MR_PROFILE_UDP_TRANSPORT

config MR_UDP_TRANSPORT_MTU
        int "UDP Transport MTU"
        default 512
        ---help---
            UDP Transport MTU.

endif # MR_PROFILE_UDP_TRANSPORT

config MR_PROFILE_TCP_TRANSPORT 
        bool "TCP Transport profile"
        default n
        depends on NET_TCP
        ---help---
            Enable the TCP Transport profile.

if MR_PROFILE_TCP_TRANSPORT

config MR_TCP_TRANSPORT_MTU
        int "TCP Transport MTU"
        default 512
        ---help---
            TCP Transport MTU.

endif # MR_PROFILE_TCP_TRANSPORT

config MR_MAX_OUTPUT_BEST_EFFORT_STREAMS 
        int "Output Best-Effort streams"
        default 1
        ---help---
            Number of Output Best-Effort streams.

config MR_MAX_OUTPUT_RELIABLE_STREAMS 
        int "Output Reliable streams"
        default 1
        ---help---
            Number of output reliable streams.

config MR_MAX_INPUT_BEST_EFFORT_STREAMS 
        int "Input Best-Effort streams"
        default 1
        ---help---
            Number of Input Best-Effort streams.

config MR_MAX_INPUT_RELIABLE_STREAMS 
        int "Input Reliable streams"
        default 1
        ---help---
            Number of Input Reliable streams.

config MR_MAX_SESSION_CONNECTION_ATTEMPTS
        int "Maximum session connections attempts"
        default 10
        ---help---
            Maximum number of session connections attempts.

config MR_MIN_SESSION_CONNECTION_INTERVAL
        int "Minimum session connections intermal (ms)"
        default 1
        ---help---
            Minimum session connections internal in milliseconds.

config MR_MIN_HEARTBEAT_TIME_INTERVAL
        int "Minimum heartbeat time intermal (ms)"
        default 1
        ---help---
            Minimum heartbeat time internal in milliseconds.

config MICRO_XRCE_VERBOSE_OUTPUT
        bool "Enable verbose output"
        default y
        ---help---
            Enable verbose output usefull for debugging.

endif # MICRO_XRCE_CLIENT

endmenu # Micro XRCE-DDS 
