#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config UROS_EXAMPLES_PUBLISHER
	bool "uROS Publisher"
	default n
	depends on UROS
	---help---
		Enable the publisher uROS example

if UROS_EXAMPLES_PUBLISHER

config UROS_EXAMPLES_PUBLISHER_PROGNAME
	string "Program name"
	default "publisher"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

#config UROS_EXAMPLES_PUBLISHER_PRIORITY
#	int "Publisher task priority"
#	default 100
#
#config UROS_EXAMPLES_PUBLISHER_STACKSIZE
#	int "Publisher stack size"
#	default 2048

endif
