#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_UDP_6LOWPAN
	tristate "UDP 6lowpan example"
	default n
	---help---
		Enable the UDP 6lowpan example

if EXAMPLES_UDP_6LOWPAN

config EXAMPLES_UDP_6LOWPAN_PROGNAME
	string "Program name"
	default "udp_6lowpan"
	depends on BUILD_LOADABLE
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_UDP_6LOWPAN_PRIORITY
	int "UDP_6lowpan task priority"
	default 100

config EXAMPLES_UDP_6LOWPAN_STACKSIZE
	int "UDP_6lowpan stack size"
	default 2048

endif
