config UCS_SUB_EXAMPLE
	bool "UCS - microROS Distance Subscriber over 6LoWPAN"
	default n
	depends on UROS
	---help---
		Enable the ucs test subscriber over 6LoWPAN radio communication

if UCS_SUB_EXAMPLE

config UCS_SUB_EXAMPLE_PROGNAME
	string "Program name"
	default "ucs_sub"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

 config UCS_SUB_EXAMPLE_TOPIC_SELECTOR
 	int "ucs demo topic selector"
 	default 1
	depends on UCS_SUB_EXAMPLE
	---help---
		Set 1 to use ucs demo distance topic..

endif


