config UROS_EXAMPLES_JSPUBLISHER
	bool "TUPEK demo - microROS 6lowpan Joystick Publisher"
	default n
	depends on UROS
	---help---
		Enable the uROS 3D PRO Joystick publisher over 6lowpan 

if UROS_EXAMPLES_JSPUBLISHER

config UROS_EXAMPLES_JSPUBLISHER_PROGNAME
	string "Program name"
	default "jspublisher"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

#config UROS_EXAMPLES_PUBLISHER_PRIORITY
#	int "Publisher task priority"
#	default 100
#
#config UROS_EXAMPLES_PUBLISHER_STACKSIZE
#	int "Publisher stack size"
#	default 2048

endif
