#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_UROS
	bool "uROS example"
	default n
	depends on UROS
	---help---
		Enable the uROS example

if EXAMPLES_UROS

config EXAMPLES_UROS_PROGNAME
	string "Program name"
	default "publisher"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

#config EXAMPLES_CLIENT_PRIORITY
#	int "Client task priority"
#	default 100
#
#config EXAMPLES_CLIENT_STACKSIZE
#	int "Client stack size"
#	default 2048

endif
