menuconfig UROS_EXAMPLES
	tristate "UROS Examples"
	default n
	---help---
		Enable the uROS examples.

if UROS_EXAMPLES

config UROS_EXAMPLES_PUBLISHER
	bool "uROS Publisher"
	default n
	depends on UROS
	---help---
		Enable the publisher uROS example

if UROS_EXAMPLES_PUBLISHER

config UROS_EXAMPLES_PUBLISHER_PROGNAME
	string "Program name"
	default "publisher"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

#config UROS_EXAMPLES_PUBLISHER_PRIORITY
#	int "Publisher task priority"
#	default 100
#
#config UROS_EXAMPLES_PUBLISHER_STACKSIZE
#	int "Publisher stack size"
#	default 2048

endif


config UROS_EXAMPLES_SUBSCRIBER
	bool "uROS Subscriber"
	default n
	depends on UROS
	---help---
		Enable the subscriber uROS example

if UROS_EXAMPLES_SUBSCRIBER

config UROS_EXAMPLES_SUBSCRIBER_PROGNAME
	string "Program name"
	default "subscriber"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

#config UROS_EXAMPLES_SUBSCRIBER_PRIORITY
#	int "Subscriber task priority"
#	default 100
#
#config UROS_EXAMPLES_SUBSCRIBER_STACKSIZE
#	int "Subscriber stack size"
#	default 2048

endif


endif # UROS_EXAMPLES

