#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config UROS_EXAMPLES_SUBSCRIBER
	bool "uROS Subscriber"
	default n
	depends on UROS
	---help---
		Enable the subscriber uROS example

if UROS_EXAMPLES_SUBSCRIBER

config UROS_EXAMPLES_SUBSCRIBER_PROGNAME
	string "Program name"
	default "subscriber"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

#config UROS_EXAMPLES_SUBSCRIBER_PRIORITY
#	int "Subscriber task priority"
#	default 100
#
#config UROS_EXAMPLES_SUBSCRIBER_STACKSIZE
#	int "Subscriber stack size"
#	default 2048

endif
