#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_CLIENT
	bool "Micro XRCE-DDS example"
	default n
	depends on MICRO_XRCE_CLIENT
	---help---
		Enable the Micro XRCE-DDS Client example

if EXAMPLES_CLIENT

config EXAMPLES_CLIENT_PROGNAME
	string "Program name"
	default "client"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_CLIENT_PRIORITY
	int "Client task priority"
	default 100

config EXAMPLES_CLIENT_STACKSIZE
	int "Client stack size"
	default 20048

endif
