config UCS_PUB_EXAMPLE
	bool "UCS - microROS Opener/Effector Publisher over 6LoWPAN"
	default n
	depends on UROS
	---help---
		Enable the ucs test publisher over 6LoWPAN radio communication

if UCS_PUB_EXAMPLE

config UCS_PUB_EXAMPLE_PROGNAME
	string "Program name"
	default "ucs_pub"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

 config UCS_PUB_EXAMPLE_TOPIC_SELECTOR
 	int "ucs demo topic selector"
 	default 1
	depends on UCS_PUB_EXAMPLE
	---help---
		Set 1 to use ucs demo opener topic. Set 0 to publish effector commannds.

endif


