config UROS_EXAMPLES_DEMO_POWER_PUBLISHER
	bool "uROS demo Power publisher"
	default n
	depends on UROS
	---help---
		Enable the demonstration power publisher uROS example

if UROS_EXAMPLES_DEMO_POWER_PUBLISHER

config UROS_EXAMPLES_DEMO_POWER_PUBLISHER_PROGNAME
	string "Program name"
	default "demo_power"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

#config UROS_EXAMPLES_PUBLISHER_PRIORITY
#	int "Publisher task priority"
#	default 100
#
#config UROS_EXAMPLES_PUBLISHER_STACKSIZE
#	int "Publisher stack size"
#	default 2048

endif
