# Kconfig for micro-ROS

menu "micro-ROS"

config UROS
    bool "Enable micro-ROS"
    default n
    ---help---
        Enable support for micro-ROS 

if UROS

config UROS_DIR
    string "micro-ROS workspace (relative to NuttX)"
    default "../uros_ws/"
    ---help---
	Location of the micro-ROS workspace.

endif

endmenu # UROS
